In [330]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [331]:
release_date = pd.read_csv("data/release_date.csv", sep=",")
production_countries = pd.read_csv("data/production_countries.csv", sep=",")
movies_production_countries = pd.read_csv("data/movies_production_countries.csv", sep=",")
collections = pd.read_csv("data/collections.csv", sep=",")
movies = pd.read_csv("data/movies.csv", sep=",")
production_companies = pd.read_csv("data/production_companies.csv", sep=",")
movies_production_companies = pd.read_csv("data/movies_production_companies.csv", sep=",")

Función peliculas_mes

In [332]:
# @app.get('/peliculas_mes/{mes}')
def peliculas_mes(mes:str):
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'''
    assert mes in ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'], f'Debe ingresar el nombre del mes en español. Ej: "Septiembre"'
    cantidad  = len(release_date[release_date['month']==mes])
    return {'mes':mes, 'cantidad':cantidad}

Verificación

In [333]:
peliculas_mes('enero')

{'mes': 'enero', 'cantidad': 5909}

Función peliculas_dia

In [334]:
# @app.get('/peliculas_dis/{dis}')
def peliculas_dia(dia:str):
    '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrebaron ese dia historicamente'''
    assert dia in ['lunes','martes','miercoles','jueves', 'viernes', 'sabado', 'domingo'], f'Debe ingresar el nombre del día en español(sin tilde). Ej: "miercoles"'
    cantidad  = len(release_date[release_date['day_name']==dia])
    return {'dia':dia, 'cantidad':cantidad}

Verificación

In [335]:
peliculas_dia('lunes')

{'dia': 'lunes', 'cantidad': 3500}

Función franquicia

In [336]:
# @app.get('/franquicia/{franquicia}')
def franquicia(franquicia:str):
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio'''
    id = collections[collections.name == franquicia].iloc[0,0]
    cantidad  = len(movies[movies['id_collection'] == id])
    ganancia_total = movies['revenue'][movies['id_collection']==id].sum()
    ganancia_promedio = movies['revenue'][movies['id_collection']==id].mean()
    return {'franquicia':franquicia, 'cantidad':cantidad,'ganancia_total':ganancia_total, 'ganancia_promedio':ganancia_promedio}

Verificación

In [337]:
collections.head(2)

   id_collection                       name
0          10194       Toy Story Collection
1         119050  Grumpy Old Men Collection

In [338]:
franquicia('Toy Story Collection')

{'franquicia': 'Toy Story Collection',
 'cantidad': 3,
 'ganancia_total': 1937890605.0,
 'ganancia_promedio': 645963535.0}

In [339]:
collections[collections['id_collection']==10194]

   id_collection                  name
0          10194  Toy Story Collection

In [340]:
movies[movies['id_collection']==10194]

,id_movie,id_collection,title,tagline,overview,original_language,runtime,status,release_date,release_year,popularity,vote_average,budget,revenue,return
0,862,10194.0,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...",en,81.0,Released,1995-10-30,1995.0,21.946943,7.7,30000000.0,3.735540e+08,0.080310
2994,863,10194.0,Toy Story 2,The toys are back!,"Andy heads off to Cowboy Camp, leaving his toy...",en,92.0,Released,1999-10-30,1999.0,17.547693,7.3,90000000.0,4.973669e+08,0.180953
15335,10193,10194.0,Toy Story 3,No toy gets left behind.,"Woody, Buzz, and the rest of Andy's toys haven...",en,103.0,Released,2010-06-16,2010.0,16.966470,7.6,200000000.0,1.066970e+09,0.187447

Función peliculas_pais

In [341]:
# @app.get('/peliculas_pais/{pais}')
def peliculas_pais(pais:str):
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    assert pais in production_countries['name'].unique(), f'Error al ingresar el pais. Intente nuevamente. (Ej: "Germany)"'
    id = production_countries[production_countries.name == pais].iloc[0,0]
    cantidad  = len(movies_production_countries[movies_production_countries['id_production_countries']==id])
    return {'pais':pais, 'cantidad':cantidad}

Verificación

In [342]:
peliculas_pais('Italy')

{'pais': 'Italy', 'cantidad': 2165}

In [343]:
movies_production_countries[movies_production_countries['id_production_countries']=='IT']

       id_movie id_production_countries
19         1408                      IT
34        16420                      IT
70        49133                      IT
80        11010                      IT
159       37975                      IT
...         ...                     ...
55229     68063                      IT
55347    104308                      IT
55451     40467                      IT
55463    317389                      IT
55480    200066                      IT

[2165 rows x 2 columns]

Función productoras

In [344]:
# @app.get('/productoras/{productora}')
def productoras(productora:str):
    '''Ingresas la productora, retornando la ganancia toal y la cantidad de peliculas que produjeron'''
    id = production_companies[production_companies.name == productora].iloc[0,0]
    cantidad  = len(movies_production_companies[movies_production_companies['id_production_companies'] == id])
    lista_de_pelis = movies_production_companies['id_movie'][movies_production_companies['id_production_companies']==id].to_list()
    ganancia_total = movies['revenue'][movies['id_movie'].isin(lista_de_pelis)].sum()

    return {'productora':productora, 'ganancia_total':ganancia_total, 'cantidad':cantidad}

Verificación

In [345]:
production_companies.tail(2)

          id         name
23686  19653  Sine Olivia
23687  88753    Yermoliev

In [346]:
productoras('Yermoliev')

{'productora': 'Yermoliev', 'ganancia_total': 0.0, 'cantidad': 1}

In [347]:
movies_production_companies[movies_production_companies['id_production_companies']==88753]

       id_movie  id_production_companies
82236    227506                    88753

In [348]:
movies[movies['id_movie']==227506]

,id_movie,id_collection,title,tagline,overview,original_language,runtime,status,release_date,release_year,popularity,vote_average,budget,revenue,return
45344,227506,NaN,Satan Triumphant,NaN,"In a small town live two brothers, one a minis...",en,87.0,Released,1917-10-21,1917.0,0.003503,0.0,0.0,0.0,0.0

Función retorno

In [349]:
# @app.get('/retorno/{pelicula}')
def retorno(pelicula:str):
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo'''
    inversion = movies[movies.title == pelicula].iloc[0,12] # budget
    ganacia = movies[movies.title == pelicula].iloc[0,13] # revenue
    retorno = movies[movies.title == pelicula].iloc[0,14] # return
    anio_lanzamiento = movies[movies.title == pelicula].iloc[0,9] # release_year
    return {'pelicula':pelicula, 'inversion':inversion, 'ganacia':ganacia,'retorno':retorno, 'anio':anio_lanzamiento}

Verificación

In [350]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45346 entries, 0 to 45345
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_movie           45346 non-null  int64
 1   id_collection      4485 non-null   float64
 2   title              45346 non-null  object
 3   tagline            20387 non-null  object
 4   overview           44405 non-null  object
 5   original_language  45335 non-null  object
 6   runtime            45100 non-null  float64
 7   status             45266 non-null  object
 8   release_date       45346 non-null  object
 9   release_year       45346 non-null  float64
 10  popularity         45346 non-null  float64
 11  vote_average       45346 non-null  float64
 12  budget             45346 non-null  float64
 13  revenue            45346 non-null  float64
 14  return             45346 non-null  float64
dtypes: float64(8), int64(1), object(6)
memory usage: 5.2+ MB

In [351]:
retorno('Jumanji')

{'pelicula': 'Jumanji',
 'inversion': 65000000.0,
 'ganacia': 262797249.0,
 'retorno': 0.2473389666267016,
 'anio': 1995.0}

In [352]:
movies.head(10)

,id_movie,id_collection,title,tagline,overview,original_language,runtime,status,release_date,release_year,popularity,vote_average,budget,revenue,return
0,862,10194.0,Toy Story,NaN,"Led by Woody, Andy's toys live happily in his ...",en,81.0,Released,1995-10-30,1995.0,21.946943,7.7,30000000.0,373554033.0,0.080310
1,8844,NaN,Jumanji,Roll the dice and unleash the excitement!,When siblings Judy and Peter discover an encha...,en,104.0,Released,1995-12-15,1995.0,17.015539,6.9,65000000.0,262797249.0,0.247339
2,15602,119050.0,Grumpier Old Men,Still Yelling. Still Fighting. Still Ready for...,A family wedding reignites the ancient feud be...,en,101.0,Released,1995-12-22,1995.0,11.712900,6.5,0.0,0.0,0.000000
3,31357,NaN,Waiting to Exhale,Friends are the people who let you be yourself...,"Cheated on, mistreated and stepped on, the wom...",en,127.0,Released,1995-12-22,1995.0,3.859495,6.1,16000000.0,81452156.0,0.196434
4,11862,96871.0,Father of the Bride Part II,Just When His World Is Back To Normal... He's ...,Just when George Banks has recovered from his ...,en,106.0,Released,1995-02-10,1995.0,8.387519,5.7,0.0,76578911.0,0.000000
5,949,NaN,Heat,A Los Angeles Crime Saga,"Obsessive master thief, Neil McCauley leads a ...",en,170.0,Released,1995-12-15,1995.0,17.924927,7.7,60000000.0,187436818.0,0.320108
6,11860,NaN,Sabrina,You are cordially invited to the most surprisi...,An ugly duckling having undergone a remarkable...,en,127.0,Released,1995-12-15,1995.0,6.677277,6.2,58000000.0,0.0,0.000000
7,45325,NaN,Tom and Huck,The Original Bad Boys.,"A mischievous young boy, Tom Sawyer, witnesses...",en,97.0,Released,1995-12-22,1995.0,2.561161,5.4,0.0,0.0,0.000000
8,9091,NaN,Sudden Death,Terror goes into overtime.,International action superstar Jean Claude Van...,en,106.0,Released,1995-12-22,1995.0,5.231580,5.5,35000000.0,64350171.0,0.543899
9,710,645.0,GoldenEye,No limits. No fears. No substitutes.,James Bond must unmask the mysterious head of ...,en,130.0,Released,1995-11-16,1995.0,14.686036,6.6,58000000.0,352194034.0,0.164682

Resumen de las funciones

In [353]:
# @app.get('/peliculas_mes/{mes}')
def peliculas_mes(mes:str):
    '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente'''
    assert mes in ['enero','febrero','marzo','abril','mayo','junio','julio','agosto','septiembre','octubre','noviembre','diciembre'], f'Debe ingresar el nombre del mes en español. Ej: "Septiembre"'
    cantidad  = len(release_date[release_date['month']==mes])
    return {'mes':mes, 'cantidad':cantidad}


# @app.get('/peliculas_dis/{dis}')
def peliculas_dia(dia:str):
    '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrebaron ese dia historicamente'''
    assert dia in ['lunes','martes','miercoles','jueves', 'viernes', 'sabado', 'domingo'], f'Debe ingresar el nombre del día en español(sin tilde). Ej: "miercoles"'
    cantidad  = len(release_date[release_date['day_name']==dia])
    return {'dia':dia, 'cantidad':cantidad}


# @app.get('/franquicia/{franquicia}')
def franquicia(franquicia:str):
    '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio'''
    id = collections[collections.name == franquicia].iloc[0,0]
    cantidad  = len(movies[movies['id_collection'] == id])
    ganancia_total = movies['revenue'][movies['id_collection']==id].sum()
    ganancia_promedio = movies['revenue'][movies['id_collection']==id].mean()
    return {'franquicia':franquicia, 'cantidad':cantidad,'ganancia_total':ganancia_total, 'ganancia_promedio':ganancia_promedio}


# @app.get('/peliculas_pais/{pais}')
def peliculas_pais(pais:str):
    '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo'''
    assert pais in production_countries['name'].unique(), f'Error al ingresar el pais. Intente nuevamente. (Ej: "Germany)"'
    id = production_countries[production_countries.name == pais].iloc[0,0]
    cantidad  = len(movies_production_countries[movies_production_countries['id_production_countries']==id])
    return {'pais':pais, 'cantidad':cantidad}


# @app.get('/productoras/{productora}')
def productoras(productora:str):
    '''Ingresas la productora, retornando la ganancia toal y la cantidad de peliculas que produjeron'''
    id = production_companies[production_companies.name == productora].iloc[0,0]
    cantidad  = len(movies_production_companies[movies_production_companies['id_production_companies'] == id])
    lista_de_pelis = movies_production_companies['id_movie'][movies_production_companies['id_production_companies']==id].to_list()
    ganancia_total = movies['revenue'][movies['id_movie'].isin(lista_de_pelis)].sum()

    return {'productora':productora, 'ganancia_total':ganancia_total, 'cantidad':cantidad}


# @app.get('/retorno/{pelicula}')
def retorno(pelicula:str):
    '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo'''
    inversion = movies[movies.title == pelicula].iloc[0,12] # budget
    ganacia = movies[movies.title == pelicula].iloc[0,13] # revenue
    retorno = movies[movies.title == pelicula].iloc[0,14] # return
    anio_lanzamiento = movies[movies.title == pelicula].iloc[0,9] # release_year
    return {'pelicula':pelicula, 'inversion':inversion, 'ganacia':ganacia,'retorno':retorno, 'anio':anio_lanzamiento}

# # ML
# @app.get('/recomendacion/{titulo}')
# def recomendacion(titulo:str):
#     '''Ingresas un nombre de pelicula y te recomienda las similares en una lista'''
#     return {'lista recomendada': respuesta}